<template name="home">
  <div class="container">
    <div class="jumbotron">
      <h2><small>学校裏サイト</small></h2>
      <h1>アンダーグラウンド</h1>
      <h3><small>匿名で学校トーク</small></h3>
      <a href='/school'>
        <button class="btn btn-danger" type="button">入室する</button>
      </a>
      <a href='http://kids.yahoo.co.jp/'>
        <button class="btn btn-default" type="button">やめる</button>

      </a>
      {{#if myAppVariable}}
      <h3>{{myAppVariable}}</h3>
      {{/if}}
    </div>
  </div>
</template>
